.footer-contenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454545;
}

.footer {
    max-width: 1200px;
    padding: 5px 25px;
    margin: auto;
}

.footer-redes {
    padding: 25px;
    text-align: center;
}

.footer-redes-titulo {
    margin-bottom: 24px;
    font-size: 34px;
    color: #f1f1f1;
}

.footer-redes a i {
    font-size: 42px;
    margin: 16px;
    color: #f1f1f1;

    &:hover {
        color: green;
    }
}

footer p {
    text-align: center;
    color: #aaa;
    font-size: 18px;
}