.header-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, .5);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
  
}

.header {
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 12px;
}

.logo-contenedor {
  width: 80px;
  height: 80px;
}

.logo {
  height: 80px;
  object-fit: cover;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu {
  display: flex;
}

#check-menu {
  display: none;
}

#label-check {
  display: none;
}

.icono {
  font-size: 24px;
}

@media (width <= 550px) {

  .header {
    padding: 0 22px;
  }

  .menu {
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 50;

    display: flex;
    flex-direction: column;

    background-color: #fff;

    width: 100%;
    
    visibility: hidden;
    opacity: 0;
    height: 0px;

    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out, height 250ms ease;
  }

  #label-check {
    display: block;
  }

  #label-check i {
    font-size: 28px;
    cursor: pointer;
  }

  #check-menu:checked ~ .menu {
    visibility: visible;
    opacity: 1;
    height: 180px;
  }
}