.buscador-tabla {
  display: flex;
  margin-block: 16px ;
}

.buscador-tabla label {
  font-weight: bold;
  font-size: 18px;
}

.buscador-tabla input {
  margin-left: 16px;
  padding: 4px 8px;
}

.tabla-interna {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tabla-interna::-webkit-scrollbar {
  background-color: white;
  height: 8px;
  border-radius: 4px;
  padding-inline: 2px;
}

.tabla-interna::-webkit-scrollbar-thumb {
  background-color: #929292;
  height: 8px;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: max-content;
  border: solid 1px #ddd;
  margin-bottom: 18px;
}


thead,
tfoot {
  background-color: #333;
  color: white;
}

th, td {
  padding: 4px 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.contenedor-botones {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-block: 16px;
}

@media (width <= 1050px) {

  .tabla-interna {
    overflow-x: scroll;
  }
}