* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #454545;
}

.contenedor-tarjetas {
  max-width: 1200px;
  margin: 24px auto;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.contenedor-textos {
  max-width: 1200px;
  margin: auto;
  padding: 40px 12px;
}

.contenedor-textos h2 {
  font-size: 32px;
}