@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #454545;
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

.contenedor {
  max-width: 1200px;
  margin: auto;
  padding: 0px 16px;
  margin-block: 32px;
}

/**** Hero ****/

.hero-contenedor {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center center;
}

.hero {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.hero-descripcion, 
.hero-titulo {
  text-align: center;
  color: #f9f9f9;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, .8);
}

.hero-titulo {
  font-size: 76px;
  font-weight: 600;
  margin-bottom: 24px;
}

.hero-descripcion {
  font-size: 32px;
  font-weight: 600;
}

@media (width <= 550px) {
  
  .hero-titulo {
    font-size: 56px;
  }
  
  .hero-descripcion {
    font-size: 24px;
  }

}

/**** Tarjetas áreas vocacionales ****/

.contenedor-tarjetas {
  max-width: 1200px;
  margin: 24px auto;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

/***** Estilos Buscador General *****/

.contenedor-buscador {
  max-width: 1200px;
  min-height: 260px;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.buscador-titulo {
  text-align: center;
  font-size: 32px;
  margin: 16px 0;
}

.input-contenedor {
  display: flex;
  margin: 16px 0;
}

.input-buscador {
  width: 360px;
  height: 40px;
  padding: 12px;
  margin-right: 4px;
  border: solid 1px grey;
  border-radius: 6px;
  background-color: white;
}

label {
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 4px;
  cursor: pointer;
}

.input-icono {
  font-size: 32px;
}

@media (width <= 550px) {

  .buscador-contenedor {
    padding: 16px;
  }
  
  .input-buscador {
    width: 280px;
  }
}

/**** Header ****/

.header {
  position: fixed;
  top: 40px;
  right: 0;
  z-index: 90;
  max-width: 200px;

  padding: 24px;

  border-radius: 16px 0px 0px 16px;
  box-shadow: -3px 4px 1px 2px rgba(0, 0, 0, .8);

  transition: transform 250ms ease;

  border: solid 1px rgba(0, 0, 0, .2);

  background-color: #fff;
}

.cerrar {
  transform: translateX(106%);
}

.abrir {
  transform: translateX(0%);
}

.etiqueta-menu {
  position: absolute;
  z-index: 80;
  top: 24px;
  left: -80px;

  width: 80px;

  text-align: left;
  color: #424242;

  padding: 2px 12px;

  border-radius: 16px 0 0 16px;
  box-shadow: -4px 4px 1px 2px rgba(0, 0, 0, .8);

  background-color: #fff;

  cursor: pointer;

  border-top: solid 1px rgba(0, 0, 0, .2);

}

.flecha-header {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
}

@media (width <= 550px) {
  .header {
      padding: 16px;
  }    
}

.logo-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-logo {
  height: 120px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;

  max-height: 400px;
  overflow-y: scroll;

  width: 100%;
}

ul, li {
  list-style: none;
}

i {
  margin: 0 6px 0 0;
  font-size: 22px;
}

.menu-boton {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link-menu {
  margin-right: auto;
}

.item-submenu {
  border-left: solid 2px #424242;
  overflow: hidden;
}

.item-menu {
  width: 100%;
  overflow: hidden;
  margin: 12px 0;
}

.submenu {
  transition: max-height 300ms ease;
  padding: 0 0 0 12px;
}

.item-submenu {
  padding: 6px;

  &:hover {
      background-color: #f6f8fa;
  }
}

.link-submenu {
  text-decoration: none;
  color: #424242;
}

.ocultar {
  max-height: 0;
}

.desplegar {
  max-height: 160px;
  overflow-y: scroll;
}

.item-submenu {
  padding: 6px;

  &:hover {
      background-color: #f6f8fa;
  }
}

.texto-item-menu, 
.link-submenu {
  margin: 4px;
  text-decoration: none;
  color: #424242;
}

.mostrar .flecha {
  transform: rotate(90deg)
}

/**** Tabla de datos ****/

.contenedor-tabla {
  width: 100%;
  overflow-x: scroll;
}

.tabla-interna {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tabla-interna::-webkit-scrollbar {
  background-color: white;
  height: 8px;
  border-radius: 4px;
  padding-inline: 2px;
}

.tabla-interna::-webkit-scrollbar-thumb {
  background-color: #929292;
  height: 8px;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: max-content;
  border: solid 1px #ddd;
  margin-bottom: 8px;
  background-color: #fff;
}

thead,
tfoot {
  background-color: #753ebd;
  color: white;
}

th, td {
  padding: 4px 8px;
  width: max-content;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.contenedor-botones {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-block: 8px;
}

.btn-paginacion {
  padding: 8px 12px;
  background-color: #753ebd;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (width <= 1050px) {

  .tabla-interna {
    overflow-x: scroll;
  }
}

/**** Caja FAQ's ****/

.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px
}

.faq-contenedor {
  width: 100%;
  border-radius: 16px;
  background-color: white;
  padding: 12px 24px;
  overflow: hidden;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-btn {
  font-size: 44px;
  width: 40px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.faq-body {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 16px;
  transition: max-height 500ms ease, opacity 500ms ease;
}

.mostrar-respuesta {
  max-height: 300px;
  opacity: 1;
}

.centrar-celda {
  text-align: center;
}

.link-ficha {
  text-decoration: none;
  font-size: 18px;
  color: #753ebd;
  &:hover {
    color: #b077fb;
  }
}